@media (min-width: 1400px) {
  .header-wrapper .site-header__logo {
	top: 51px;
  }
}
@media only screen and (min-width: 992px) {
  .mobile-header--wrapper {
    display: none;
  }
  .header-wrapper .site-header__logo {
	top: 51px;
  }
}
#shopify-section-header {
  	z-index: 10001;
}
body#recharge-novum #recharge-te {
  	display: flex;
    background-color: unset;
  	padding-bottom: 20px;
    margin: 35px;
  	z-index: 10000;
}
@media (max-width: 991px) {
  body#recharge-novum #recharge-te {
	flex-direction: column;
    margin: 30px 0px 0px;
  }
}
body#recharge-novum #recharge-te * {
  font-family: Montserrat, sans-serif !important;
  color: #161487 !important;
}
body#recharge-novum #recharge-te .rc_page-width {
  width: 100%;
}

@media (max-width: 991px) {
  body#recharge-novum #recharge-te .rc_page-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#recharge-novum .rc-card {
  margin: 2px !important;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper {
  flex: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fde8c4;  
  border-radius: 5px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper > .grid__item {
  margin-bottom: 20px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_btn, body#recharge-novum #recharge-te .rc_btn,
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_btn--secondary,
body#recharge-novum #recharge-te .rc_btn--secondary, body#recharge-novum #recharge-te #rc_te-template-wrapper .expired {
  background-color: unset;
  border: 2px solid #161487 !important;
  border-radius: 100px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_upsells-btns input[type=button] {
  background-color: white;
}

/* --- navigation menu begin --- */
/* - desktop - */
.rcc_menu-nav-desktop {
  flex: 1;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop {
  background-color: unset !important;
  padding-top: 0px;
}
body#recharge-novum #recharge-te .nav__list--desktop {
  display: table-cell;
  height: fit-content;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background: white;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 0px;
  overflow: hidden;
}
@media (max-width: 991px) {
  body#recharge-novum #recharge-te .nav__list--desktop {
    display: none;
  }
}
body#recharge-novum #recharge-te .nav__list--desktop > hr {
  border: 0;
  height: 2px;
  background: #e9ecef;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li {
  position: relative;
  padding: 18px 35px;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li:before {
  content: '';
  display: block;
  width: 5.7px;
  height: 30px;
  position: absolute;
  background: var(--navigationHoverBGColor);
  left: -5.7px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: .2s left;
  transition: .2s left;
  background: #999999;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li.menu-nav-active:before,
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li:hover:before{
  left: 0;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li.js-my_account-page {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li.js-my_account-page a {
  padding-left: 10px;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li a {
  font-size: 16px;
  text-transform: capitalize;
  white-space: nowrap;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li:hover a {
  font-weight: 600;
}

/* - mobile - */
/* ** */
@media (max-width: 991px) {
  body#recharge-novum #recharge-te .list_item_chosen {
      display: none;
  }
  /*
  body#recharge-novum #recharge-te .nav__list--mobile.menu--active {
      display: block !important;
  }
  */
  body#recharge-novum #recharge-te .rcc_menu-nav-desktop {
    display: none;
  }
  body#recharge-novum #recharge-te .nav__list--mobile {
      display: block !important;
  }
}

@media (min-width: 992px) {
  body#recharge-novum #recharge-te .nav__list--mobile {
      display: none !important;
  }
}
/* ** */
body#recharge-novum #recharge-te .nav__slider--mobile {
  margin-bottom: 30px;
  position: relative;
}
body#recharge-novum #recharge-te .nav__list--mobile {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 0px;
  
  
  overflow-x: scroll;
  -ms-touch-action: auto;
  touch-action: auto;
  -ms-overflow-style: none;
  
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}
body#recharge-novum #recharge-te .nav__list--mobile::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

body#recharge-novum #recharge-te .nav__list--mobile li {
  background: unset;
  font-size: 16px;
  display: inline-block;
  width: 33%;
  white-space: normal;
  vertical-align: top;
  padding: 5px;
  /* margin-left: 600px; */
  /* animation: sslide 0s ease 1s forwards;*/
  /* animation-name: sslide; */
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
body#recharge-novum #recharge-te .nav__list--mobile li a {
  color: #161487 !important;
  text-transform: capitalize;
  line-height: normal;
}
body#recharge-novum #recharge-te .nav__list--mobile li a:hover {
  font-weight: 600;
  color: #161487 !important;
}
@media (max-width: 991px) {
  body#recharge-novum #recharge-te .nav__list--mobile li a {
	font-size: 14px;
  }
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination {
      display: none;
  }
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn {
  display: inline-block;
  margin: 5px;
  background-color: #000;
  opacity: .25;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 6px;
  height: 6px;
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn:hover,
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn:focus {
  background-color: #000 !important;
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn.slider_pagination_btn--sel {
  opacity: .75;
}

@keyframes sslide
{
from {margin-left: 400px;}
to {margin-left: 0;}
}
/* --- navigation menu end --- */

/* --- form elements start --- */
#subscriptionNewForm > label.text-font-14,
#updateVariantForm > label.text-font-14,
#subscriptionSwapForm > label.text-font-14{
  width: 100%;
  text-align: center;
}

body#recharge-novum #recharge-te #subscriptionNewForm .rc_product_quantity,
body#recharge-novum #recharge-te #updateVariantForm .rc_product_quantity,
body#recharge-novum #recharge-te #subscriptionSwapForm .rc_product_quantity{
  margin: auto;
  margin-top: 8px;
}
body#recharge-novum #recharge-te #te-modal-content button#rc_add_product-btn,
body#recharge-novum #recharge-te #updateVariantForm button[type=submit],
body#recharge-novum #recharge-te #subscriptionSwapForm button[type=submit]
{
  border-radius: 100px;
}
/* --- form elements end --- */

/* --- subscriptions begin --- */
@media (min-width: 320px) {
  body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_add_product h3 {
  	white-space: nowrap;
  }  
}
@media (min-width: 768px) {
  body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_add_product .action-buttons-wrapper {
    text-align: end;
  }
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_add_product .action-buttons-wrapper button
{
  margin-top: 2px;
  margin-bottom: 2px;
}
@media (min-width: 461px) and (max-width: 525px) {
  body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_add_product .action-buttons-wrapper button {
    width: 100%;
  }
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .page-title-wrapper {
  display: flex;
  align-items: baseline;
  padding-bottom: 10px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .page-title-wrapper h2.page-title {
  flex: 1;
}
@media (max-width: 480px) {
  body#recharge-novum #recharge-te #rc_te-template-wrapper .page-title-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
body#recharge-novum #recharge-te .rc_btn:hover,
body#recharge-novum #recharge-te .rc_btn--secondary:hover{
  background: #252525 !important;
  color: #ffffff !important;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .warning-text {
  background-color: #f6dcdd;
  padding: 20px;
  color: #b53039 !important;
  display: inline-block;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .warning-text svg path {
  color: #b53039 !important;
}
/* --- subscriptions end --- */

/* --- manage subscription begin --- */
#rc_manage_subscription_container .upsells--wrapper {
  display: none;
}
#rc_manage_subscription_container #delivery_container + div {
  margin-bottom: 20px !important;
}
@media (min-width: 768px) {
  body#recharge-novum #recharge-te #rc_te-template-wrapper #rc_manage_subscription_container {
    display: block;
  }
}
/* --- manage subscription end --- */

/* --- schedule begin --- */
@media (max-width: 767px) {
  body#recharge-novum #recharge-te #rc_te-template-wrapper .line-height-12 {
    line-height: 18px;
  }
  body#recharge-novum #recharge-te .rc_order_title {
    line-height: 22px;
  }
}
/* --- schedule end --- */

/* --- _confirm_modal start --- */
body#recharge-novum #recharge-te #confirm-modal-underlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
} 

body#recharge-novum #recharge-te #confirm-modal {
  max-width: 700px;
  width: 100%;
  background-color: var(--color-white);
  position: fixed;
  top: 50%;
  z-index: 200;
  margin: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  font-family: var(--recharge-te-primary-font);
}

body#recharge-novum #recharge-te #confirm-modal #confirm-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

body#recharge-novum #recharge-te #confirm-modal #confirm-modal-header h3 {
  margin-bottom: 0px;
  color: var(--info-modal-color-dark);
  font-size: 20px;
}

body#recharge-novum #recharge-te #confirm-modal #confirm-modal-header span {
  font-size: 22px;
}

body#recharge-novum #recharge-te #confirm-modal #confirm-modal-close-btn {
  color: var(--info-modal-color-light-gray);
  cursor: pointer;
}

body#recharge-novum #recharge-te #confirm-modal #confirm-modal-content {
  padding: 16px;
  background: #fce6ce;
  display: flex;
  color: var(--info-modal-color-dark);
  margin-bottom: 16px;

}
body#recharge-novum #recharge-te #confirm-modal #confirm-modal-contact-us {
  text-align: right;
  font-size: 12px;
  padding-top: 20px;
}
body#recharge-novum #recharge-te #confirm-modal #confirm-modal-contact-us a {
  text-decoration: underline !important;
}
body#recharge-novum #recharge-te #confirm-modal #confirm-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #B6B6BD;
  padding-top: 16px;
}

body#recharge-novum #recharge-te #confirm-modal #confirm-modal-footer .rc_confirm-btn {
  border-style: solid;
  height: 36px;
  line-height: 36px;
  min-width: 150px;
  padding: 0 20px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  touch-action: manipulation;
  white-space: nowrap;
  font-weight: 600;
  background: var(--color-white);
}

body#recharge-novum #recharge-te #confirm-modal .rc_confirm_agree-btn {
  background: var(--color-orange) !important;
  border: 1px solid var(--color-orange);
  color: var(--color-white);
  margin-left: 10px;
}

body#recharge-novum #recharge-te #confirm-modal .rc_confirm_cancel-btn {
  border: 1px solid var(--info-modal-color-blue);
  color: var(--info-modal-color-blue);
}

@media only screen and (min-width: 421px) and (max-width: 767px) {
  body#recharge-novum #recharge-te #confirm-modal {
    width: 90%;
    margin: 0px auto;
  }
}
/* --- _confirm_modal end --- */
