@media (min-width: 1400px) {
  .header-wrapper .site-header__logo {
	top: 51px;
  }
}
@media only screen and (min-width: 992px) {
  .mobile-header--wrapper {
    display: none;
  }
  .header-wrapper .site-header__logo {
	top: 51px;
  }
}

body#recharge-novum #recharge-te {
  	display: flex;
    background-color: unset;
  	padding-bottom: 20px;
    margin: 35px;
}
@media (max-width: 991px) {
  body#recharge-novum #recharge-te {
	flex-direction: column;
    margin: 30px 0px 0px;
  }
}
body#recharge-novum #recharge-te * {
  font-family: Montserrat, sans-serif !important;
  color: #161487 !important;
}
body#recharge-novum #recharge-te .rc_page-width {
  width: 100%;
}

@media (max-width: 991px) {
  body#recharge-novum #recharge-te .rc_page-width {
    padding-left: 15px;
    padding-right: 15px;
  }
}

#recharge-novum .rc-card {
  margin: 2px !important;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper {
  flex: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fde8c4;  
  border-radius: 5px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper > .grid__item {
  margin-bottom: 20px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_btn, body#recharge-novum #recharge-te .rc_btn,
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_btn--secondary,
body#recharge-novum #recharge-te .rc_btn--secondary, body#recharge-novum #recharge-te #rc_te-template-wrapper .expired {
  background-color: unset;
  border: 2px solid #161487 !important;
  border-radius: 100px;
}
body#recharge-novum #recharge-te #rc_te-template-wrapper .rc_upsells-btns input[type=button] {
  background-color: white;
}

/* --- navigation menu begin --- */
/* - desktop - */
.rcc_menu-nav-desktop {
  flex: 1;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop {
  background-color: unset !important;
  padding-top: 0px;
}
body#recharge-novum #recharge-te .nav__list--desktop {
  display: table-cell;
  height: fit-content;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  background: white;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 0px;
  overflow: hidden;
}
@media (max-width: 991px) {
  body#recharge-novum #recharge-te .nav__list--desktop {
    display: none;
  }
}
body#recharge-novum #recharge-te .nav__list--desktop > hr {
  border: 0;
  height: 2px;
  background: #e9ecef;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li {
  position: relative;
  padding: 18px 35px;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li:before {
  content: '';
  display: block;
  width: 5.7px;
  height: 30px;
  position: absolute;
  background: var(--navigationHoverBGColor);
  left: -5.7px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: .2s left;
  transition: .2s left;
  background: #999999;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li.menu-nav-active:before,
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li:hover:before{
  left: 0;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li.js-my_account-page {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li.js-my_account-page a {
  padding-left: 10px;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li a {
  font-size: 16px;
  text-transform: capitalize;
  white-space: nowrap;
}
body#recharge-novum #recharge-te .rcc_menu-nav-desktop .nav__list--desktop li:hover a {
  font-weight: 600;
}

/* - mobile - */
/* ** */
@media (max-width: 991px) {
  body#recharge-novum #recharge-te .list_item_chosen {
      display: none;
  }
  /*
  body#recharge-novum #recharge-te .nav__list--mobile.menu--active {
      display: block !important;
  }
  */
  body#recharge-novum #recharge-te .rcc_menu-nav-desktop {
    display: none;
  }
  body#recharge-novum #recharge-te .nav__list--mobile {
      display: block !important;
  }
}

@media (min-width: 992px) {
  body#recharge-novum #recharge-te .nav__list--mobile {
      display: none !important;
  }
}
/* ** */
body#recharge-novum #recharge-te .nav__slider--mobile {
  margin-bottom: 30px;
  position: relative;
}
body#recharge-novum #recharge-te .nav__list--mobile {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 20px;
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: 0px;
  
  
  overflow-x: scroll;
  -ms-touch-action: auto;
  touch-action: auto;
  -ms-overflow-style: none;
  
  overflow-y: hidden;
  
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}
body#recharge-novum #recharge-te .nav__list--mobile::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

body#recharge-novum #recharge-te .nav__list--mobile li {
  background: unset;
  font-size: 16px;
  display: inline-block;
  width: 33%;
  white-space: normal;
  vertical-align: top;
  padding: 5px;
  /* margin-left: 600px; */
  /* animation: sslide 0s ease 1s forwards;*/
  /* animation-name: sslide; */
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
body#recharge-novum #recharge-te .nav__list--mobile li a {
  color: #161487 !important;
  text-transform: capitalize;
  line-height: normal;
}
body#recharge-novum #recharge-te .nav__list--mobile li a:hover {
  font-weight: 600;
  color: #161487 !important;
}
@media (max-width: 991px) {
  body#recharge-novum #recharge-te .nav__list--mobile li a {
	font-size: 14px;
  }
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination {
      display: none;
  }
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn {
  display: inline-block;
  margin: 5px;
  background-color: #000;
  opacity: .25;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 6px;
  height: 6px;
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn:hover,
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn:focus {
  background-color: #000 !important;
}
body#recharge-novum #recharge-te .nav__slider--mobile .slider_pagination .slider_pagination_btn.slider_pagination_btn--sel {
  opacity: .75;
}

@keyframes sslide
{
from {margin-left: 400px;}
to {margin-left: 0;}
}
/* --- navigation menu end --- */

/* --- billing information begin --- */

/* --- billing information end --- */